<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!--<a class="navbar-brand" href="#">Navbar</a>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: "nav-link #{params[:controller] == 'books' ? 'active' : ''}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'About', about_path, class: "nav-link #{params[:controller] == 'about' ? 'active' : ''}" %>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 to-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add New
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> <%= link_to 'Book', new_book_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Category', new_category_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Author', new_author_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Publisher', new_publisher_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Categories', categories_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Authors', authors_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Publishers', publishers_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>