<% if params[:controller] == 'about' %>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">
      <h3>Location Info</h3>
    </div>
    <div class="card-body text-dark">
      <h5 class="card-title">The bookstore</h5>
      <p class="card-text">
        499 Massachusetts Ave, Unit 2 <br>
        Boston, MA 02110 <br>
        Phone: (617) 555-5555 <br>
        Email: support@thebookstore.com
      </p>
    </div>
  </div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
  <ul class="list-group">
    <% @categories.each do |category| %>
      <li class="list-group-item"><%= link_to category.name, category_path(category.id), class: 'text-decoration-none text-dark' %></li>
    <% end %>
  </ul>
<% end %>