<h2>Add New Author</h2>

<%= form_for @author do |f| %>

  <!--Check for errors-->
  <% if @author.errors.any? %>
    <% @author.errors.full_messages.each do |msg| %>
      <!--Show errors-->
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control', required: true %>
  </div>
  <div class="mt-2">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', authors_path, class: 'btn btn-default', required: true %>
  </div>
<% end %>
