<h2>Edit New Book</h2>

<%= form_for @book do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :isbn %>
    <%= f.text_field :isbn, class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :category %>
    <%= f.select :category_id, Category.all.map {|x| [x.name, x.id]}, {include_blank: 'Select One'},  class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :author %>
    <%= f.select :author_id, Author.all.map {|x| [x.first_name + ' ' + x.last_name, x.id]}, {include_blank: 'Select One'},  class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :publisher %>
    <%= f.select :publisher_id, Publisher.all.map {|x| [x.name, x.id]}, {include_blank: 'Select One'},  class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :format %>
    <%= f.text_field :format, class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :year %>
    <%= f.text_field :year, class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :coverpath %>
    <%= f.text_field :coverpath, class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :excerpt %>
    <%= f.text_area :excerpt, class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :pages %>
    <%= f.number_field :pages, class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control', required: true %>
  </div>
  <div class="form-group mt-2">
    <%= f.label :buy %>
    <%= f.text_field :buy, class: 'form-control', required: true %>
  </div>
  <div class="mt-2">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', books_path, class: 'btn btn-default' %>
  </div>
<% end %>