<div id="books-show" class="books-show">
  <h2><%= @book.title %></h2>
  <div class="books-show-left">
    <%= image_tag(@book.coverpath) %>
  </div>
  <div class="books-show-right">
    <h3>Book info:</h3>
    <ul>
      <li><strong>Category: </strong><%= @book.category.name %></li>
      <li><strong>Author: </strong><%= @book.author.first_name + ' ' + @book.author.last_name %></li>
      <li><strong>Publisher: </strong><%= @book.publisher.name %></li>
      <li><strong>Year: </strong><%= @book.year %></li>
      <li><strong>ISBN: </strong><%= @book.isbn %></li>
      <li><strong>Format: </strong><%= @book.format %></li>
      <li><strong>Pages: </strong><%= @book.pages %></li>
    </ul>
    <%= link_to 'Buy for ' + @book.price, @book.buy, class: 'btn btn-success', target: '_blank' %>
  </div>
  <div class="clearfix"></div>
  <div class="mt-5">
    <h4>Excerpt</h4>
    <p>
      <%= @book.excerpt %>
    </p>
  </div>
  <h4>Admin Functions</h4>
  <%= link_to 'Edit', edit_book_path(@book.id) %> |
  <%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: 'Are you sure?'} %>
</div>