body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.5em;
}

header {
  background: #333;
  color: #fff;
  height: 80px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.to-right {
  position: absolute;
  right: 0;
}

.nav-link.active {
  background-color: #bbb;
}

.card-header, .card-text {
  text-align: center;
}

.books-show {
  h2 {
    background-color: #f4f4f4;
    padding: 10px;
  }
  &-left {
    float: left;
    width: 40%;
  }
  &-right {
    float: left;
    width: 60%;
    margin-top: 10px;
  }
  .btn {
    margin: 20px 0 0 70px;
  }
}

footer {
  background: #333;
  color: #fff;
  height: 60px;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}