<h2><%= @category.name %></h2>
<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-4 col-sm-6">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h5><%= book.title %></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= image_tag(book.coverpath) %>
          </h5>
          <p class="card-text">
            <%= link_to 'Read More', book_path(book), class: 'btn btn-primary' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
